.container {
    background-color: white;
}

.mainTitle {
    margin-top: 50px;

}

.subContainer {
    
}

.box {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    
}

.topBox {
    display: grid;
    grid-template-columns: 50% 50%;
}

.middleBox {
    display: grid;
    grid-template-columns: 300px 300px 350px;
    justify-content: center;
}

.subTitle {

}

.info {
    font-size: 14px;
    text-align: left;
}