/* .background {
    background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=732&q=80");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

.button {
    font-size: 20px;
    width: 202px;
    height: 56px;
    background: #2D2D2D;
    border-radius: 52px;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 0px;
    align-items: flex-start;
}

.button:hover {
    background-color: #fff;
    color: #000000;
    transition-delay: 0.2s;
    transition: 0.8s;
}

.mainTitle {
    font-size: 38px;
    font-weight: 600;
    display: flex;
    text-align: start;
    margin-top: 30px;
}

.formContainer {
    background: rgba(233, 228, 228, 0.651);
    width: 45%;
    height: 50%;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;   
    padding-left: 5px;
    padding-right: 5px; 
    box-shadow: 0px 0px 30px 2px rgb(44, 43, 43);
    font-family: 'Dosis', sans-serif;
    border-color: rgb(227, 230, 227);
    border-style: solid;  
    display: flex;
    flex-direction: column;
}

.subContainer {
    display: flex;
    flex-direction: column;
}

.subTitle {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.subInput {
    flex-direction: column;
    align-self: center;
    width: 90%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;

}

.subTextBox {
    width: 90%;
    height: 100px;
    flex-direction: column;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 6px 10px;
}

.select {
    width: 60%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #2cc3ff;
    font-weight: bold;
    flex-direction: column;
    align-self: center;
    margin: 15px
}

.data {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 15px;
    color: white;
    border:hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    font-size: 18px;
    padding: 8px 8px 8px 8px
    
}

.diets {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.submitButton {
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #24721a;
    color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.5); 
    cursor: pointer;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight:bolder;
    align-self: center;
}

.submitButton:hover{ 
    transition-delay: 0.2s;
    transition: 0.8s;
    background-color: rgb(88, 10, 189);
    border: none;
    color: #ffffff;
}

.error {
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #FF0000;
    text-align:center;
    font-size: 14px;
}

.selectedDiets {
    display: flex;
    flex-direction: row;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    margin-top: 5px;
    margin-left:  30px;
    padding-left: 10px;


}
.crossButton {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 15px;
    color: white;
    border:hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    font-size: 16px;
    cursor: pointer;
}

.crossButton:hover {
    transition-delay: 0.2s;
    transition: 0.8s;
    background-color: rgb(255, 0, 0);
    border: none;
    color: #000000;
} */

/* ---------------------- */

.background {
    /* background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=732&q=80"); */
    /* background-image: url('../../Utils/CreateBackground.png'); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    scroll-behavior: smooth;
    background-attachment: fixed;
    width: 100%;
    height: 2360px;
}

.button {
    font-size: 20px;
    width: 202px;
    height: 56px;
    background: #2D2D2D;
    border-radius: 52px;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 0px;
    align-items: flex-start;
}

.button:hover {
    background-color: #fff;
    color: #000000;
    transition-delay: 0.2s;
    transition: 0.8s;
}

.formContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    border: 1px solid;
    border-color: #000000;
    padding-left: 40px;
    padding-right: 40px;
    width: 1400px;
    
    margin-top: 50px;
    
}

.subInput {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 300;
    
    font-size: 14px;
    width: 500px;
    height: 40px;
    align-items: center;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 71px;
}

.subTextBox {
    height: 60px;
}

.formContainer h4, h5 {
    
    font-weight: 300;
}

.formContainer textarea {
    font-size: 14px;
    font-weight: 300;
    font-family: Poppins;
    
    width: 500px;
    padding-top: 40px;
    height: 110px;
    padding-left: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 71px;
}

.submitButton {
    font-size: 20px;
    width: 202px;
    height: 56px;
    background: #2D2D2D;
    border-radius: 52px;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 0px;
    align-items: flex-start;
}

.submitButton:hover {
    background-color: #fff;
    color: #000000;
    transition-delay: 0.2s;
    transition: 0.8s;
}



.allContainer {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-top: 0px;
}

.img {
    height: 700px;
    margin-top: -50px;
}

.textHeader {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

/* .healthContainer {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
} */

/* .range {
    width: 300px;
} */

.healthContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
}

.drag__bar {
    -webkit-appearance: none;
    width: 280px;
    height: 8px;
    border-radius: 5px;
    background: #A2F3EA;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: fixed;
    margin-left: 145px;
  }
  
  .drag__bar:hover {
    opacity: 1;
  }
  
  .drag__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #11D8C2;
    cursor: pointer;
    box-shadow:0px 0px 12px 9px rgba(131, 237, 209, 0.7);
    
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .drag__bar::-moz-range-thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #0d0d0d;
    cursor: pointer;
    box-shadow:0px 0px 11px 8px rgba(0,0,0,0.26);
    
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }

 .errores {
    display: flex;
    position: fixed;
    font-size: 12px;
    color: red;
    font-weight: 400;
 }

 .data {
    color: #11D8C2;
    font-size: 28px;
    font-weight: 600;
 }

 .subTitle {
    font-size: 16px;
    font-weight: normal;
    color: gray;
 }

 .subContainer {
    margin-bottom: 43px;
 }

 .select {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    color: gray;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #DFDFDF;
    border-radius: 71px;
 }

.ulContainer {
    display: grid;
    grid-template-columns: 246px 246px;
    gap: 8px;
    margin-top: 8px;
}

.selectedDiets {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #A2F3EA;
    
    color: #0ea190;
    border-radius: 71px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #A2F3EA;
    
    
    /* background-image: linear-gradient(to right, #92fee1 0%, #00ffd9 100%); */
    /* background-image: linear-gradient(to right, #92fee1 0%, #00ffc8 100%); */
    /* background-image: linear-gradient(to top, #89fdc1 0%, #12fff7 100%); */
    /* background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
    /* background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%); */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    background-image: linear-gradient(to right, #a6f9f0 0%, #2ff4dd 100%);
}

.crossButton {
    background-color: #8bf3e7;
    border-radius: 12px;
    border: 1px solid #A2F3EA;
    box-shadow:0px 0px 8px 5px rgba(228, 248, 242, 0.7);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: #0fb29f;
}