.landing {
    background-image: url('../../Utils/comida-oficina.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.link {
    text-decoration: none;
}

.btnLanding {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: 'Poppins';
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 34px;
  margin-left: 950px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.btnLanding:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  transform: scale(1.05, 1.05);
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
