.card {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.img {
    width: 100%;
    object-fit: cover;
}

.restContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    min-height: 250px;
}

.restContainer p {
    font-size: 13px;
    margin: 0 0 3px;
}

.restContainer h3 {
    font-size: 16px;
    justify-content: space-evenly;
}



